.app-main{
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    width: 100%;
}

.serachbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.cards-container{
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.card{
    border: 1px solid black;
    padding: 1rem;
}